@import './partials/resets';
@import './partials/css-home';

.header {
    background-color: Black;
    color: white;
    display: flex;
    height: 5rem;
    text-align: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    &__left-img{
        height: 3rem;
        background: white;
    }
    &__list {
        display: flex;
        justify-content: space-around;
        &-item{
            margin-right: 1.5rem;
        }
        &-link{
            color: white;
            text-decoration: none;
            font-size: 1.5rem;
            cursor: pointer;
        }
    }
    &__nav{
        display: flex;
        align-items: center;
    }
}

.mainSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 89.3vh;
    &__top{
        height: 35vh;
        background: black;
        // css syntax:
        // clip: clip-source|basic-shape|margin-box|border-box|padding-box
        // |content-box|fill-box|stroke-box|view-box|none|initial|inherit;
       clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));
    }
    &__middle{
        font-size: 4rem;
        font-weight: bold;
        text-align: center;
    }
    &__bottom{
        color: white;
        height: 35vh;
        background: black;
        clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 100%);
        &-text{
            margin-left: 3rem;
            margin-top: 14rem;
        }
    }
}
